@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media screen and (max-width:768px) {
  p {
      font-size: 1.0em;
    }

    .sort-bar {
      height: 60px;
    }

    .sort-bar .sort-section {
        display: inline-block;
        text-align: left;
        float: right;
        width: 100%;
        margin: 0;
        background: #4C6598;
    }

    .sort-bar .sort-category {
      float: right;
    }

    .post .title{
      font-size: 1.15em;
    }

}

@media screen and (max-width:600px) {

  .post {
    font-size: 13px;
  }
  .post .title{
    font-size: 1em;
  }

  .modal-title{
    height: 30px;
    line-height: 15px;
    /*font-size: 12px;*/
  }
}
