
<ul class="list-group">
  <li class="list-group-item" ng-repeat="post in posts">
      Id: {{post.id}}, Title: {{ post.title}}, Content: {{post.content}}
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="post in posts">
      Id: {{post.id}}, Title: {{ post.title}}, Content: {{post.content}}
  </li>
</ul>

<div class="container-fluid">
  <div class="row"></div>
  <div class="col-md-6 auth-cont center">
  <a class="sociallogin-btn sociallogin-facebook" href="/auth/facebook">Instalar Aplicación</a></div>
  <a class="sociallogin-btn sociallogin-facebook" href="/canvas/test">Test</a></div>
  <a class="sociallogin-btn sociallogin-facebook" href="/canvas/testPage">TestPage</a></div>
    <div class="col-md-12">
      <div class="config-text">
      </div>
    </div>
  </div>
</div>
