########################
# sails
########################
.sails
.waterline
.rigging
.tmp
.assets
assets/bower_components/
.sass-cache
content/**/*
########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.save
*.save.*

pids
logs
results
npm-debug.log

node_modules/
www/

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js
