@charset "UTF-8";
/**
 * importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SASS to CSS.  Unlike CSS files, SASS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SASS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SASS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
body {
  font-family: Helvetica,Arial,sans-serif;
  /*background: url('/images/background/seamless_paper_texture.png') repeat fixed;*/
  font-size: 14px;
  /*background: url('/images/background/polka-dot-2.png') no-repeat center center fixed;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/ }

.wf-active body {
  font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

.header {
  /*background: url('/images/light.png') no-repeat;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;*/
  background: url("/images/light.png") 60% 90% no-repeat, url("/images/light.png") 40% 50% no-repeat, url("/images/light.png") 10% 20% no-repeat #393;
  background-size: 240px 210px, auto, 150px; }

.footer {
  height: 100px;
  background: #3e3d3b;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
title,
.label-content {
  text-transform: uppercase;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

.wf-active
h1,
h2,
h3,
h4,
h5,
h6,
title,
.label-content {
  text-transform: uppercase;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

p {
  font-size: 1em;
  line-height: 1.4;
  color: #000; }

hr {
  max-width: 400px;
  border-color: #999999; }

li[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none; }

.box {
  margin-bottom: 20px;
  padding: 1% 2%;
  background: #f7f7f7; }

.intro-text {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px; }

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px; }

.img-left {
  float: none;
  margin: 0 auto 0; }

footer {
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }

footer p {
  margin: 0;
  padding: 50px 0; }

.auth-cont {
  width: 100%;
  display: table;
  padding: 0.7%;
  margin: 0.5%; }

.auth-cont .sociallogin-btn {
  width: 165px;
  height: 40px;
  float: none;
  display: table-cell;
  text-decoration: none;
  background: #3B5998; }

.auth-cont .sociallogin-btn:hover {
  background: #6D84B4; }

.full-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.loading {
  width: 100%;
  text-align: center;
  background: #344557;
  /*margin-top: -20px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1050;
  height: 9999px;
  /*position: fixed;*/ }

.home .login {
  padding: 5% 0%; }

.home .login .btn-default {
  background: #3c6cbc;
  height: 40px;
  width: 150px;
  color: #fff; }

.sticky {
  position: fixed; }

.advanced-search {
  box-shadow: 0px 2px 10px -2px #c5c6ce; }

.label-content {
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(58, 87, 149, 0.1) none repeat scroll 0% 0%;
  color: #6F6E6E;
  position: relative;
  display: block;
  bottom: 0px;
  top: 0px;
  vertical-align: bottom;
  line-height: 50px;
  margin: 0.7em 0em 1.15em;
  height: 2em;
  box-shadow: 0px 5px #6D84B4; }

.pager {
  cursor: pointer; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.uncompiled > * {
  visibility: hidden;
  opacity: 0; }

.compiled > * {
  opacity: 1; }

.fade-ng-cloak {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.fade-ng-cloak[ng-cloak] {
  display: block !important;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

.fade-ng-cloak.ng-cloak,
.fade-ng-cloak.ng-binding {
  opacity: 0;
  transition: opacity 800ms ease-in-out; }

.fade-ng-cloak.ng-binding {
  opacity: 1; }

.animate-repeat {
  /*line-height:30px;*/
  /*list-style:none;*/
  box-sizing: border-box; }

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.5s; }

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  /*max-height:0;*/ }

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  /*max-height:30px;*/ }

.animate-enter,
.animate-leave {
  -webkit-transition: 875ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 875ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 875ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 875ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 875ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block; }

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  right: 0;
  height: 30px; }

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  right: -50px;
  height: 0px; }

.fade-out {
  transition: 1.05s linear all;
  opacity: 0;
  display: none; }

.fade-in-out {
  transition: 3.5s linear all;
  opacity: 1; }

.fade-in-out.ng-hide {
  opacity: 0; }

.unfade {
  opacity: 1;
  display: block; }

.navbar {
  border-radius: 0px;
  /*border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;*/
  min-height: 35px;
  height: 35px; }

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px; }

.navbar-nav {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px; }

.navbar-default .navbar-brand {
  color: #AFBDD4; }

.navbar-default {
  background-color: #3B5998;
  border: 0;
  background-image: none; }

.navbar-brand {
  padding: 5px 10px;
  height: auto; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #D8DFEA;
  background-color: transparent; }

.brand,
.address-bar {
  display: none; }

.img-full {
  min-width: 100%; }

.brand-before,
.brand-name {
  text-transform: capitalize; }

.brand-before {
  margin: 15px 0; }

.brand-name {
  margin: 0;
  font-size: 4em; }

.tagline-divider {
  margin: 15px auto 3px;
  max-width: 250px;
  border-color: #999999; }

.container {
  margin: 4% auto; }

.input-group-addon {
  cursor: pointer; }

.select2-results {
  max-height: 110px !important; }

.embed-responsive-4by3 {
  padding-bottom: 60%; }

@media screen and (max-width: 640px) {
  .embed-responsive-4by3 {
    padding-bottom: 45%; } }
@media screen and (max-width: 1024px) {
  .embed-responsive-4by3 {
    padding-bottom: 55%; } }
@media screen and (min-width: 1360px) {
  .embed-responsive-4by3 {
    padding-bottom: 55%; } }
#presentation {
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s;
  border-radius: 3px; }

#presentation:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s;
  transform: translateZ(10px); }

#floating-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3a5897;
  position: fixed;
  bottom: 30px;
  right: 1px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666; }

#floating-button-back {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3a5897;
  position: fixed;
  top: 25px;
  right: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666; }

.iplus {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 2em;
  font-weight: 300; }

.iplus:hover {
  color: #a2a2a2;
  font-size: 1.7em;
  top: 2px; }

.plus {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 2px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s; }

#container-floating {
  position: fixed;
  width: 40px;
  height: 150px;
  bottom: 30px;
  right: 0;
  z-index: 1030; }

#container-floating:hover {
  height: 150px;
  width: 65px;
  padding: 1px; }

#container-floating:hover .plus {
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards; }

.edit {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  text-align: center;
  margin: auto;
  line-height: 40px;
  font-size: 1.35em;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s; }

#container-floating:hover .edit {
  animation: edit-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards; }

@keyframes edit-in {
  from {
    opacity: 0;
    transform: rotateZ(-70deg); }
  to {
    opacity: 1;
    transform: rotateZ(0deg); } }
@keyframes edit-out {
  from {
    opacity: 1;
    transform: rotateZ(0deg); }
  to {
    opacity: 0;
    transform: rotateZ(-70deg); } }
@keyframes plus-in {
  from {
    opacity: 1;
    transform: rotateZ(0deg); }
  to {
    opacity: 0;
    transform: rotateZ(180deg); } }
@keyframes plus-out {
  from {
    opacity: 0;
    transform: rotateZ(180deg); }
  to {
    opacity: 1;
    transform: rotateZ(0deg); } }
.nds {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: scale(0);
  cursor: pointer; }

.nd1 {
  background: #e9ecf3;
  right: 2px;
  bottom: 135px;
  animation-delay: 0.1s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode: forwards; }

.nd2 {
  background: #6d84b4;
  right: 2px;
  bottom: 85px;
  animation-delay: 0.2s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode: forwards; }

@keyframes bounce-nds {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: scale(1); } }
@keyframes bounce-out-nds {
  from {
    opacity: 1;
    transform: scale(1); }
  to {
    opacity: 0;
    transform: scale(0); } }
#container-floating:hover .nds {
  animation: bounce-nds 0.1s linear;
  animation-fill-mode: forwards; }

#container-floating:hover .nd3 {
  animation-delay: 0.08s; }

#container-floating:hover .nd4 {
  animation-delay: 0.15s; }

#container-floating:hover .nd5 {
  animation-delay: 0.2s; }

.letter {
  font-size: 23px;
  font-family: 'Ubuntu',Arial;
  color: #595959;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px; }

.letter:hover, .letter:active {
  color: #f6f6f6; }

.reminder {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px; }

.profile {
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px; }

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px; }

form .progress {
  line-height: 15px; }

form .form-control {
  border-radius: 1px; }

form .cropArea {
  background: #f6f6f6;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 0px;
  margin: 1% 0%; }

.lbl-list-content {
  text-align: right;
  font-style: italic; }

.cropSource {
  overflow: hidden;
  width: 49%;
  height: 200px;
  border-radius: 0px;
  display: inline-block;
  padding: 1%; }

.cropImage {
  overflow: hidden;
  width: 49%;
  /*height: 200px;*/
  border-radius: 0px;
  display: inline-block;
  /*padding: 1%;*/ }

.viewImage {
  overflow: hidden;
  width: 50%;
  height: 250px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  /*padding: 1%;*/ }

.image-resource {
  width: 100%;
  overflow: hidden;
  background: #f6f6f6;
  text-align: center; }

form .progress {
  line-height: 15px; }

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC; }

.progress div {
  font-size: smaller;
  background: orange;
  width: 0; }

.sort-bar {
  display: block;
  width: 100%;
  height: 30px;
  background: #6D84B4;
  font-size: 0.825em;
  box-shadow: 0px 0px 10px 0px #7c8495; }

.sort-bar .sort-item {
  display: inline-block; }

.sort-bar .sort-item.tab {
  padding: 6px 11px;
  background: #4C6598;
  color: #fff;
  cursor: pointer;
  height: 30px; }

.sort-bar .sort-item.tab.active {
  background: #2f4981; }

.sort-bar .sort-item.tab::focus {
  background: #3B5998; }

.sort-bar .sort-section {
  display: inline-block;
  float: left;
  width: 68%; }

.sort-bar .sort-search {
  margin: 0.5% 0 1%;
  display: inline-block; }

.sort-bar .sort-category {
  display: block;
  height: auto;
  padding: 4px 3px;
  float: right; }

.sort-bar .sort-category .ui-select-container {
  min-width: 204px; }

.sort-bar .sort-search .form-control {
  display: inline;
  width: auto;
  height: 22px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 2px 10px; }

.sort-bar .sort-search .field {
  padding: 0 7px;
  color: #fff;
  font-weight: bolder; }

.sort-bar #categories {
  float: right; }

.sort-bar .select2-container .select2-choice {
  height: 22px;
  line-height: 20px; }

.sort-bar li.sort-tab > a,
.sort-bar #categories #category-dropdown {
  background: white;
  position: relative;
  display: block;
  padding: 4px 15px;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #555;
  cursor: default;
  background-color: #F4F4F5;
  border: 1px solid #ddd;
  border-bottom-color: transparent; }

.sort-bar li.sortab.active > a,
.sort-bar #categories #category-dropdown:active {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background-color: #fff; }

/*
Version: 3.4.5 Timestamp: Mon Nov  4 08:22:42 PST 2013
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle; }

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.

    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */ }

.select2-container .select2-choice {
  display: block;
  height: 24px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 24px;
  color: #444;
  text-decoration: none;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%); }

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(top, #eee 0%, #fff 90%); }

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px; }

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url("/images/select2/select2.png") right top no-repeat;
  cursor: pointer;
  outline: 0; }

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block; }

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer; }

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); }

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto; }

.select2-drop-auto-width .select2-search {
  padding-top: 4px; }

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15); }

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none; }

arrow
.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb; }

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 29px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(top, #ccc 0%, #eee 60%); }

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("/images/select2/select2.png") no-repeat 7px 0px; }

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 24px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap; }

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff url("/images/select2/select2.png") no-repeat 100% -20px;
  background: url("/images/select2/select2.png") no-repeat 100% -20px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  background: url("/images/select2/select2.png") no-repeat 100% -20px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("/images/select2/select2.png") no-repeat 100% -20px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("/images/select2/select2.png") no-repeat 100% -20px, linear-gradient(top, #fff 85%, #eee 99%); }

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px; }

.select2-search input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100%;
  background: url("select2-spinner.gif") no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
  background: url("select2-spinner.gif") no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("select2-spinner.gif") no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
  background: url("select2-spinner.gif") no-repeat 100%, linear-gradient(top, #fff 85%, #eee 99%); }

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%); }

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(bottom, #fff 0%, #eee 50%); }

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none; }

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px; }

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent; }

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0; }

.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px; }

.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px; }

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px; }

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none; }

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold; }

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff; }

.select2-results li em {
  background: #feffde;
  font-style: normal; }

.select2-results .select2-highlighted em {
  background: transparent; }

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000; }

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item; }

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-selected {
  display: none; }

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%; }

.select2-more-results {
  background: #f4f4f4;
  display: list-item; }

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0; }

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none; }

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(top, #eee 1%, #fff 15%); }

.select2-locked {
  padding: 3px 5px 3px 5px !important; }

.select2-container-multi .select2-choices {
  min-height: 26px; }

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none; }

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important; }

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important; }

.select2-default {
  color: #999 !important; }

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%); }

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4; }

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url("/images/select2/select2.png") right top no-repeat; }

.select2-container-multi .select2-search-choice-close {
  left: 3px; }

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px; }

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px; }

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none; }

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline; }

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.select2-display-none {
  display: none; }

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll; }

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b {
    background-image: url("/images/select2/select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important; }

  .select2-search input {
    background-position: 100% -21px !important; } }
.post {
  margin-bottom: 4%;
  padding: 0px;
  box-shadow: 0px 3px 10px 3px #7c8495; }

.post .image-box {
  background: #344557; }

.post .title {
  padding-top: 10px;
  padding-bottom: 5px;
  background: #3A5795;
  padding: 0% 3%;
  white-space: nowrap;
  font-size: 1.25em; }

.post .title span {
  margin: 0;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1% 0 0.6%;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  display: block; }

.post .box {
  margin-bottom: 0;
  padding: 1% 3% 3.5% 3%; }

.post .info {
  font-size: 0.85em;
  color: #8F8F98;
  margin: 1% 0 2%;
  font-family: "Open Sans";
  font-weight: 600; }

.post .info .related {
  position: absolute;
  display: inline-block;
  right: 0px;
  padding-right: 3%;
  cursor: pointer; }

.post .info .related:hover,
.post .info .related:focus,
.post .info .related:active {
  color: #3A5795; }

.post .info .related {
  z-index: 150;
  color: #4e5154;
  text-decoration: none;
  font-size: 2.450em; }

.post .info .related-box {
  z-index: 100;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 1px 1px;
  /*background-color: #6b6d6f;*/
  background-color: #8a8f95;
  opacity: 0.95;
  position: absolute;
  margin-top: 12px;
  right: 3%;
  border-radius: 1.5px;
  /*padding: 1% 3% 1% 1.5%;*/
  box-shadow: 0px 2px 9px -1px #7C8495;
  color: #ececec;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  width: 60%;
  display: none; }

.post .info .related-box a {
  color: #ececec;
  font-weight: 300; }

.post .info .related-box .title {
  padding: 1% 4%;
  background: #4E5154;
  font-weight: bold;
  font-size: 1.25em; }

.post .info .related-box .list {
  margin: 0px;
  display: block;
  /*padding-left: 5px;*/
  width: 100%;
  white-space: nowrap;
  line-height: 20px;
  cursor: pointer; }

.post .info .related-box .list .item:before {
  content: "• "; }

.post .info .related-box .list .item {
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding: 1.25% 2.50%;
  font-size: 1.205em; }

.post .info .related-box .list .item:hover {
  /*color:#28292a;*/
  background: #3A5795;
  font-weight: 600; }

.post .content,
.post .info .content {
  display: block; }

.post .info .creator {
  color: #3A5795;
  line-height: 1em;
  cursor: pointer;
  display: inline-block; }

.post .info .creator:hover {
  color: #545454; }

.post .info .period {
  /*text-transform: capitalize;*/
  display: inline-block;
  padding-right: 1%; }

.post .info .reading {
  display: inline-block;
  padding: 0 0.5%; }

.post .info .edition {
  display: inline-block;
  padding: 0 0.5%;
  color: #a8b2c8; }

.post .box .text {
  position: relative;
  height: 80px;
  /* exactly three lines */
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1%;
  margin: 0 0 3%;
  text-align: justify;
  font-weight: 100;
  font-size: 1em; }

.post .box .text:after {
  content: "";
  text-align: justify;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #f7f7f7;
  background: linear-gradient(to bottom, transparent, #f7f7f7 85%); }

.post .image {
  height: 250px;
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 350px;
  min-height: 200px;
  height: auto; }

.post .read-more {
  /*color:#8F8F98;*/
  color: #3A5795;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer; }

.post .read-more:hover {
  /*color:#8F8F98;*/
  color: #3B5998;
  font-weight: 600; }

.post .btn {
  font-size: 0.9em;
  padding: 2px 10px; }

.post .btn-default {
  box-shadow: 0px 1px 4px #d3d7e1;
  background: #f9f9f9;
  color: #15213c; }

.post hr {
  margin-bottom: 0px; }

.post .visits {
  display: inline-block;
  float: right;
  font-size: 0.85em;
  color: #8F8F98;
  padding-top: 3px;
  font-weight: 700; }

.post .social-bar {
  display: inline-block;
  width: 100%;
  background: #e0e9f0;
  background: #595959;
  background: #e0e0e0;
  border-top: 1px solid #CCCCCC;
  cursor: pointer;
  vertical-align: bottom;
  /*box-shadow: 0px 5px 10px -2px #7c8495;*/ }

.post .social-bar .categories {
  float: left;
  text-align: left;
  padding: 1% 1%;
  width: 72%;
  cursor: default;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9em; }

.post .social-bar .categories .category {
  display: inline-block;
  margin: 0 3px 5px;
  padding: 3px 5px;
  line-height: 1.5;
  border-radius: 3px;
  color: #494f57;
  /*background-color: rgba(255, 255, 255, 0.9);*/
  /*border: 1px solid rgba(204, 204, 204, 0.15);*/
  cursor: pointer;
  font-family: "Open Sans",Helvetica,Arial,sans-serif; }

.post .social-bar .categories .category:hover {
  font-weight: 600; }

.post .social-bar .section-btn {
  /*background: rgb(160, 175, 206);*/
  /*background: rgba(168,182,211,0.70);*/
  float: right;
  display: table-row;
  width: 28%;
  text-align: right;
  padding: 1%;
  padding-right: 3%; }

.post .social-bar like,
.post .social-bar share {
  width: 50px;
  display: inline-block; }

.post .social-bar like .fb-loader,
.post .social-bar share .fb-loader {
  padding-top: 2px;
  padding-left: 0px;
  height: 22px;
  display: inline-block;
  position: absolute; }

.post .social-bar .section-btn .btn img {
  height: 20px; }

.post .social-bar .section-btn .stats {
  font-family: "Oxygen";
  font-size: 0.8em;
  font-weight: 100;
  display: inline-block;
  width: 20px;
  padding-top: 5px;
  color: #426CA6;
  vertical-align: middle;
  opacity: 0.8; }

.post .social-bar .section-btn .btn {
  padding: 0;
  position: relative;
  background: transparent;
  border: none;
  color: #6b6d6f;
  cursor: pointer;
  font-size: 0.8em;
  outline: none; }

.post .social-bar .section-btn .btn:hover {
  color: #426CA6;
  outline: none; }

/*.post .social-bar .section-btn like .btn:hover .fa-thumbs-o-up:before{
  content: "\f164";
  color: #426CA6;
  outline:none
}*/
.post .social-bar .section-btn like .on,
.post .social-bar .section-btn like .on .fa-thumbs-o-up:before,
.post .social-bar .section-btn like .btn:active .fa-thumbs-o-up:before {
  content: "\f164";
  color: #426CA6;
  outline: none; }

.post .social-bar .section-btn like .exist,
.post .social-bar .section-btn share .exist {
  color: #426CA6;
  outline: none; }

.post .social-bar .section-btn share .btn {
  padding-top: 3px;
  outline: none; }

.post .social-bar .section-btn .btn-primary {
  /*background-image: -webkit-linear-gradient(top, #426CA6 0%, #3A5795 100%);
  background-image: -o-linear-gradient(top, #426CA6 0%, #3A5795 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#426CA6), to(#3A5795));
  background-image: linear-gradient(to bottom, #426CA6 0%, #3A5795 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3B5998;*/
  border-color: #E0E0E0;
  background: #ececec;
  color: #3B5998;
  outline: none; }

.post .social-bar .section-btn .btn-primary:active, .btn-primary.active {
  background-color: #3A5795;
  border-color: #4C6598;
  color: #ececec;
  outline: none; }

.post .social-bar .section-btn .btn-primary:active, .btn-primary.active:focus {
  background-color: #426CA6;
  border-color: #3A5795;
  outline: none; }

.modal.in .modal-dialog {
  margin: 0 auto;
  width: 80%; }

.modal .modal-header .btn {
  float: right; }

.modal .modal-header {
  padding: 5px 15px; }

.modal .loader {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #344557; }

.modal-title {
  overflow: hidden;
  height: auto;
  line-height: 20px;
  text-overflow: ellipsis;
  font-size: 1em;
  max-height: 40px; }

.modal .source {
  width: 100%;
  background: #3A5795;
  display: block;
  position: relative;
  color: #fff;
  font-size: 0.825em;
  padding: 0.5% 2%; }

.modal .source .reading {
  display: inline-block;
  text-align: left; }

.modal .source .external {
  display: inline-block;
  float: right;
  color: inherit;
  padding: 0.1% 1.7%; }

.modal .source .external:hover,
.modal .source .external:focus,
.modal .source .external:active {
  font-weight: 700;
  background: #5070B3;
  padding: 0% 2%;
  padding: 0.1% 1.5% 0.2%;
  text-decoration: none; }

.modal .redirect {
  cursor: default;
  border: none; }

.modal .redirect .message {
  background: #3A5795;
  color: #fff;
  font-size: 1.5em;
  color: #fff;
  font-size: 1.15em;
  font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 1%;
  text-align: center; }

.modal .redirect .url {
  background: #344557;
  text-align: center;
  padding-top: 2%;
  color: #fff;
  font-size: 1.15em;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 2% 5%; }

.modal .modal-body {
  padding: 0px; }

.modal .post, .modal .social-bar {
  box-shadow: none;
  background: #E0E0E02;
  margin: 0; }

.modal .post .social-bar .section-btn {
  padding-right: 2%; }

.modal .modal-footer {
  border-top: 0;
  background: #3A5795;
  padding: 0;
  cursor: default; }

.modal .modal-footer .note {
  color: #6B6D6F;
  text-align: center;
  background: #ddd;
  font-size: 0.85em;
  padding: 0 10%; }

.modal .modal-footer .btn {
  /*margin: 1.25% 1%;*/
  padding: 7.5px 15px;
  cursor: pointer;
  font-size: 1em; }

.modal .modal-footer .btn.btn-danger {
  margin: 10px 1.95%; }

.modal .modal-footer .redirect {
  cursor: default;
  color: #2a415a;
  padding: 1%;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  background: #fff; }

@media screen and (min-width: 1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both; } }
@media screen and (max-width: 768px) {
  p {
    font-size: 1.0em; }

  .sort-bar {
    height: 60px; }

  .sort-bar .sort-section {
    display: inline-block;
    text-align: left;
    float: right;
    width: 100%;
    margin: 0;
    background: #4C6598; }

  .sort-bar .sort-category {
    float: right; }

  .post .title {
    font-size: 1.15em; } }
@media screen and (max-width: 600px) {
  .post {
    font-size: 13px; }

  .post .title {
    font-size: 1em; }

  .modal-title {
    height: 30px;
    line-height: 15px;
    /*font-size: 12px;*/ } }

/*# sourceMappingURL=importer.css.map */
