<div class="modal-header">
    <h3 class="modal-title">{{article.title}}</h3>
</div>

<div class="modal-body">
  <!-- <div class="source">
    <span>&#8226; </span><div class="reading" reading url="{{article.url}}"></div>
    <a class="external" ng-href="{{article.url}}" target="_blank">
      <i class="fa fa-external-link"></i> Abrir Página
    </a>
  </div> -->
<div class="source">
  <span>&#8226; </span><div class="reading" reading url="{{article.url}}"></div>
  <a class="external" ng-href="{{article.url}}" target="_blank">
    <i class="fa fa-external-link"></i> Abrir Página
  </a>
</div>
<div class="">
  {{article.reading}}
</div>
<div class="embed-responsive embed-responsive-4by3">
  <div class="fade-it loading" >
    <img class="" src="/images/spinner-2.gif"/>
  </div>
  <iframe class="embed-responsive-item" sandbox=""
  ng-src="{{currentUrl}}" ng-onload="hello">
    <p>Tu navegador no soporta iframes.</p>
  </iframe>
</div>

</div>

<div class="modal-footer">
  <div class="post">
    <div class="social-bar" >
          <div class="categories">
              <div class="category"
              ng-repeat="category in article.categories | limitTo:4">
              <span>&#8226;</span>{{category.name}}
              </div>
          </div>
          <div class="section-btn" uid-post="{{article.uid}}">
            <like></like>
            <share></share>
          </div>
    </div>
  </div>
    <button ng-disabled="!exit" class="btn btn-danger" type="button" ng-click="close()">
      <i class="fa fa-times"></i> Salir
    </button>
</div>
