/**
 * Styles of registry component
 */

#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s;
  border-radius: 3px;
}

#presentation:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3a5897;
  position: fixed;
  bottom: 30px;
  right: 1px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

#floating-button-back{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3a5897;
  position: fixed;
  top: 25px;
  right: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.iplus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 2em;
  font-weight: 300;
}

.iplus:hover{
  color: #a2a2a2;
  font-size: 1.7em;
  top: 2px;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 2px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 1.5em;
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating {
    position: fixed;
    width: 40px;
    height: 150px;
    bottom: 30px;
    right: 0;
    z-index: 1030;
}

#container-floating:hover{
  height: 150px;
  width: 65px;
  padding: 1px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}



.edit{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  text-align: center;
  margin: auto;
  line-height: 40px;
  font-size: 1.35em;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #e9ecf3;
  right: 2px;
  bottom: 135px;
  animation-delay: 0.1s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

.nd2{
  background: #6d84b4;
  right: 2px;
  bottom: 85px;
  animation-delay: 0.2s;
  animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}


@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{

  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}

.letter{
  font-size: 23px;
  font-family: 'Ubuntu',Arial;
  color: #595959;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

.letter:hover,.letter:active{
  color: #3a5897;
}

.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

form .form-control{
  border-radius: 1px;
}

form .cropArea {
  background: #f6f6f6;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 0px;
  margin: 1% 0%;
}

.lbl-list-content{
  text-align: right;
  font-style: italic;
}
.cropSource {
  overflow: hidden;
  width: 49%;
  height: 200px;
  border-radius: 0px;
  display: inline-block;
  padding: 1%;
}
.cropImage {
  overflow: hidden;
  width: 49%;
  height: 200px;
  border-radius: 0px;
  display: inline-block;
  padding: 1%;
}
.cropImage img{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.viewImage {
  overflow: hidden;
  width: 50%;
  height: 250px;
  display: inline-block;
  background-repeat:no-repeat;
  background-position: center center;
  /*padding: 1%;*/
}
.image-resource{
  width: 100%;
  overflow: hidden;
  background: #f6f6f6;
  text-align: center;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
