<!DOCTYPE html>
<html lang="es" >
<head>
    <title>MasterSigma </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/angular/angular-csp.css"/>
    <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/bower_components/ui-select/dist/select.css"/>
    <link rel="stylesheet" href="/styles/mustache.css"/>
    <link rel="stylesheet" href="/styles/select2.css"/>
    <!--STYLES END-->
</head>

<body>
    <%- body %>
<!--SCRIPTS-->
<script src="/bower_components/fontfaceobserver/fontfaceobserver.js"></script>
<script src="/bower_components/moment/min/moment-with-locales.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/webfontloader/webfontloader.js"></script>
<script src="/bower_components/angular-i18n/angular-locale_es-ec.js"></script>
<script src="/bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>
<script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/ui-select/dist/select.js"></script>
<script src="/bower_components/ng-onload/release/ng-onload.min.js"></script>
<script src="/bower_components/ng-facebook/ngFacebook.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/angular/app.config.js"></script>
<script src="/angular/components/core/fb/fb.loader.mdl.js"></script>
<script src="/angular/components/core/fontloader/fontloader.mdl.js"></script>
<script src="/angular/components/core/page/footer.cmp.js"></script>
<script src="/angular/components/core/page/header.cmp.js"></script>
<script src="/angular/components/core/request-control-list/control.list.component.js"></script>
<script src="/angular/components/core/request-control-list/control.list.controller.js"></script>
<script src="/angular/components/core/request-control-list/control.list.factory.js"></script>
<script src="/angular/components/core/router/router.check.routing.mdl.js"></script>
<script src="/angular/components/core/router/router.loading.indicator.cmp.js"></script>
<script src="/angular/components/core/test/test.component.js"></script>
<script src="/angular/components/core/test/test.controller.js"></script>
<script src="/angular/components/core/test/test.factory.js"></script>
<script src="/angular/components/core/testpage/testpage.component.js"></script>
<script src="/angular/components/main/article/articlelist.component.js"></script>
<script src="/angular/components/main/article/articlelist.controller.js"></script>
<script src="/angular/components/main/article/articlelist.factory.js"></script>
<script src="/angular/components/main/article/articlelist.filter.js"></script>
<script src="/angular/components/main/article/component/category.component.js"></script>
<script src="/angular/components/main/article/component/like.component.js"></script>
<script src="/angular/components/main/article/component/openlater.component.js"></script>
<script src="/angular/components/main/article/component/period.component.js"></script>
<script src="/angular/components/main/article/component/reading.component.js"></script>
<script src="/angular/components/main/article/component/share.component.js"></script>
<script src="/angular/components/main/article/component/tdelta.component.js"></script>
<script src="/angular/components/main/home/home.component.js"></script>
<script src="/angular/components/main/pagination/pagination.mdl.js"></script>
<script src="/angular/components/main/registry/rarticle/rarticle.component.js"></script>
<script src="/angular/components/main/registry/rarticle/rarticle.controller.js"></script>
<script src="/angular/components/main/registry/rarticle/rarticle.factory.js"></script>
<script src="/angular/components/main/registry/rcategory/rcategory.component.js"></script>
<script src="/angular/components/main/registry/rcategory/rcategory.controller.js"></script>
<script src="/angular/components/main/registry/rcategory/rcategory.factory.js"></script>
<script src="/angular/components/main/registry/registry.component.js"></script>
<script src="/angular/components/main/registry/registry.controller.js"></script>
<script src="/angular/components/main/registry/registry.factory.js"></script>
<script src="/angular/components/main/wall/wall.component.js"></script>
<script src="/angular/components/main/wall/wall.controller.js"></script>
<script src="/angular/components/app.core.js"></script>
<script src="/angular/components/app.main.js"></script>
<script src="/angular/app.js"></script>
<!--SCRIPTS END-->
</body>
</html>
