<!-- <div class="container" ng-controller="mainController"> -->
<h4>TEST</h4>
<div class="container">

  <h4>Single toggle</h4>
     <pre>{{sc.singleModel}}</pre>
     <button type="button" class="btn btn-primary" ng-model="sc.singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
         Single Toggle
     </button>

  <div class="text-center">
    <p>Example of Angular and the normal Bootstrap JavaScript components</p>
    <p class="text-success">This will work</p>
  </div>

  <h2>Buttons</h2>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary" ng-model="sc.bigData.breakfast" uib-btn-checkbox>
      Breakfast
    </label>
    <label class="btn btn-primary" ng-model="sc.bigData.lunch" uib-btn-checkbox>
      Lunch
    </label>
    <label class="btn btn-primary" ng-model="sc.bigData.dinner" uib-btn-checkbox>
      Dinner
    </label>
    <button ng-click="myFunction()">Click me!</button>
    <p>{{ sc.count }}</p>
  </div>

  <pre><code>{{ sc.bigData | json }}</code></pre>
  <div>
    <form>
      Check to show a header:
      <input type="checkbox" ng-model="myVar">
    </form>
    <h1 ng-show="myVar">My Header</h1>
  </div>

  <div class="btn-group-justified">
      <label ng-repeat="service in sc.availability.services" class="btn btn-primary" ng-model="service.selected" btn-checkbox>{{service.name}}</label>
    </div>
    <div ng-repeat="service in sc.availability.services">{{service.name}} <span ng-show="service.selected">- selected</span></div>
  </div>
<div>
    <h4>Default</h4>
    <uib-rating ng-model="sc.rate" max="sc.max" read-only="sc.isReadonly" on-hover="sc.hoveringOver(value)" on-leave="sc.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
    <span class="label" ng-class="{'label-warning': sc.percent<30, 'label-info': sc.percent>=30 && sc.percent<70, 'label-success': sc.percent>=70}" ng-show="sc.overStar && !sc.isReadonly">{{sc.percent}}%</span>

    <pre style="margin:15px 0;">Rate: <b>{{sc.rate}}</b> - Readonly is: <i>{{sc.isReadonly}}</i> - Hovering over: <b>{{sc.overStar || "none"}}</b></pre>

    <button type="button" class="btn btn-sm btn-danger" ng-click="sc.rate = 0" ng-disabled="sc.isReadonly">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="sc.isReadonly = ! sc.isReadonly">Toggle Readonly</button>
    <hr />

    <h4>Custom icons</h4>
    <div ng-init="sc.x = 5"><uib-rating ng-model="sc.x" max="15" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{sc.x}})</b></div>
    <div ng-init="sc.y = 2"><uib-rating ng-model="sc.y" rating-states="sc.ratingStates" aria-labelledby="custom-icons-2"></uib-rating> <b>(<i>Rate:</i> {{sc.y}})</b></div>
</div>
