<div class="row">
  <div class="col-sm-12">
    <legend>Registro de Artículos</legend>
    <form name="$registry.articleForm" novalidate role="form">
       <div class="form-group">
      <label for="title">Título</label><br />
      <input name="title" class="form-control" type="text" ng-model="$registry.article.title" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
    </div>
     <div class="form-group">
      <label for="url">URL de dirección web</label><br />
      <input name="url" class="form-control" type="url" ng-model="$registry.article.url" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
    </div>
       <div class="form-group">
      <label for="image">URL de Imagen</label><br />
      <input name="image" class="form-control" type="text" ng-model="$registry.article.image" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      </div>
       <div class="form-group">
      <label for="description">Descripción</label><br />
      <textarea name="description" class="form-control" ng-model="$registry.article.description" ng-model-options="{ updateOn: 'blur' }" required ></textarea>
      <br />
      </div>
       <div class="form-group">
      <label for="selectCategories"> Categoría: </label><br>
      <ui-select name="selectCategories" multiple ng-model="$registry.article.categories" theme="select2" ng-disabled="disabled"  style="width: 100%;">
      <ui-select-match placeholder="Seleccione las categorías">{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="category.id as category in $registry.categories ">
        {{category.name}}
      </ui-select-choices>
  </ui-select>
      <!-- <p>Selected: {{$registry.article.categories}}</p> -->
      <!-- <select name="multipleSelect" id="multipleSelect" ng-model="$registry.article.categories" multiple>
        <option ng-repeat="category in $registry.categories" value="{{category.id}}">{{category.name}}</option>
      </select><br> -->
      </div>
      <br /><br />
      <input type="button" ng-click="$registry.reset()" value="Limpiar" />
      <input type="submit" ng-click="$registry.save()" value="Guardar" />
    </form>
    <pre>article = {{$registry.article | json}}</pre>
  </div>

</div>
