
<!-- <div rbutton-add></div> -->
<!-- <div advanced-search class="advanced-search"></div> -->
<!-- <div class="post">
<div class="social-bar" >
  <div class="section-btn">
    <like></like>
    <share></share>
  </div>
</div>
</div> -->
  <!-- <form name="myForm">
    <fieldset>
      <legend>Upload on form submit</legend>
      Username:
      <input type="text" name="userName" ng-model="username" size="31" required>
      <i ng-show="myForm.userName.$error.required">*required</i>
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!myForm.$valid"
              ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form> -->

       <!-- <button ngf-select ng-model="picFile" accept="image/*">
           Seleccione una imagen:</button> -->
      <!-- <button type="button" class="btn btn-default btn-sm" ngf-select ng-model="picFile" accept="image/*">
         Seleccione una imagen:</button> -->
      <input type="file" ngf-select ng-model="picFile" name="image"
                accept="image/*" ngf-max-size="3MB" required
                ngf-model-invalid="errorFile">
      <div class="image-resource">
          <div class="viewImage" ng-if="picFile === ''"/>
      </div>
      <div class="image-resource" ng-show="picFile">
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
             class="cropSource">
            <img-crop
            image="picFile | ngfDataUrl"
            area-type="rectangle"
            aspect-ratio="2"
            result-image="croppedDataUrl"
            result-image-size='{w: 700,h: 350}'
            init-max-area="true"
            ng-init="croppedDataUrl=''"
            >
            </img-crop>
        </div>
        <div class="cropImage">
            <img ng-src="{{croppedDataUrl}}" />
            <!-- <img ng-src="{{croppedDataUrl || (image.constructor === String ? image : croppedDataUrl)}}" /> -->
        </div>
      </div>

       <!-- <span class="progress" ng-show="progress >= 0">
         <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
       </span>
       <span ng-show="result">Subida completada</span>
       <span class="err" ng-show="errorMsg">{{errorMsg}}</span> -->
