      <input type="file" ngf-select ng-model="picFile" name="image"
                accept="image/*" ngf-max-size="3MB" required
                ngf-model-invalid="errorFile">
      <div class="image-resource">
          <div class="viewImage" ng-if="picFile === ''"/>
      </div>
      <div class="image-resource" ng-show="picFile">
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
             class="cropSource">
            <img-crop
            image="picFile | ngfDataUrl"
            area-type="rectangle"
            aspect-ratio="2"
            result-image="croppedDataUrl"
            result-image-size='{w: 700,h: 350}'
            init-max-area="true"
            ng-init="croppedDataUrl=''"
            >
            </img-crop>
        </div>
        <div class="cropImage">
        <!-- <img ng-src="{{croppedDataUrl || (image.constructor === String ? image : croppedDataUrl)}}" /> -->
            <img ng-src="{{croppedDataUrl}}" />
        </div>
      </div>
