<div id="container-floating">

  <div class="nd1 nds" ng-click="$rbtnAdd.redirect.create()">
    <p class="letter"><i class="fa fa-plus-square-o" aria-hidden="true"></i></p>
  </div>
  <div class="nd2 nds" ng-click="$rbtnAdd.redirect.edit()">
    <p class="letter"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
  </div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left">
    <p class="plus"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></p>
    <p class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></p>
  </div>

</div>
