<div class="container-fluid">
  <div class="row"></div>
  <div class="col-md-6 auth-cont center">
  <a class="sociallogin-btn sociallogin-facebook" href="/auth/facebook">Instalar Aplicación</a></div>
    <div class="col-md-12">
      <div class="config-text">
      </div>
    </div>
  </div>
</div>
