<div class="container-fluid">
  <div class="row"></div>
  <div class="col-md-6 auth-cont center">
  <a class="sociallogin-btn sociallogin-facebook" href="/auth/facebook">Instalar Aplicación</a></div>
    <div class="col-md-12">
      <div class="config-text">
        <p><b>Estado</b>:</p>
        <p>- Email auth: <%= localAuthMsg %><br>
           - Facebook auth: <%= facebookAuthMsg %><br>
           - Twitter auth: <%= twitterAuthMsg %></p>
      </div>

    </div>
  </div>
</div>
