body {
    font-family: Helvetica,Arial,sans-serif;
    /*background: url('/images/background/seamless_paper_texture.png') repeat fixed;*/
    font-size: 14px;
    /*background: url('/images/background/polka-dot-2.png') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.wf-active body{
  font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.header{
  /*background: url('/images/light.png') no-repeat;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  background-size: cover;*/
  background:
	url('/images/light.png') 60% 90% no-repeat,
	url('/images/light.png') 40% 50% no-repeat,
	url('/images/light.png') 10% 20% no-repeat #393;
  background-size: 240px 210px, auto, 150px;
}

.footer{
  height: 100px;
  background: #3e3d3b;
  color:#fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
title {
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.wf-active
h1,
h2,
h3,
h4,
h5,
h6,
title {
    text-transform: uppercase;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
  font-size: 1em;
  line-height: 1.4;
  color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

li[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
    margin-bottom: 20px;
    padding: 1% 2%;
    background: #f7f7f7;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.auth-cont{
  width: 100%;
  display:table;
  padding:0.7%;
  margin:0.5%;
}

.auth-cont .sociallogin-btn{
  width: 165px;
  height: 40px;
  float:none;
  display:table-cell;
  text-decoration: none;
  background: #3B5998;
}

.auth-cont .sociallogin-btn:hover{
  background: #6D84B4;
}

.full-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


.loading{
  width: 100%;
  text-align: center;
  background: #344557;
  /*margin-top: -20px;*/
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index: 1050;
  height: 9999px;
  /*position: fixed;*/

}

.home .login{
  padding: 5% 0%;
}

.home .login .btn-default{
  background: #3c6cbc;
  height: 40px;
  width: : 150px;
  color:#fff;
}

.sticky{
  position:fixed;
}

.advanced-search{
  box-shadow: 0px 2px 10px -2px #c5c6ce
}

.sort-bar{
  display:block;
  width: 100%;
  height: 30px;
  background: #6D84B4;
  font-size: 0.825em;
  box-shadow: 0px 0px 10px 0px #7c8495;
}

.sort-bar .sort-item{
  display: inline-block;
}

.sort-bar .sort-item.tab{
  padding: 6px 11px;
  background: #4C6598;
  color: #fff;
  cursor: pointer;
  height: 30px;
}

.sort-bar .sort-item.tab.active{
  background: #2f4981;
}

.sort-bar .sort-item.tab::focus{
  background: #3B5998;
}

.sort-bar .sort-section{
  display: inline-block;
  float: left;
  width: 68%;
}

.sort-bar .sort-search {
  margin: 0.5% 0 1%;
  display: inline-block;
}

.sort-bar .sort-category{
  display: block;
  height: auto;
  padding: 4px 3px;
  float: right;
}

.sort-bar .sort-category .ui-select-container{
  min-width: 204px;
}

.sort-bar .sort-search .form-control{
    display: inline;
    width: auto;
    height: 22px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 2px 10px;
}

.sort-bar .sort-search .field{
    padding:0 7px;
    color:#fff;
    font-weight: bolder;
}
.sort-bar #categories{
  float:right;
}

.sort-bar .select2-container .select2-choice{
  height: 22px;
  line-height: 20px;
}

.sort-bar li.sort-tab > a ,
.sort-bar #categories #category-dropdown {
  background: white;
  position: relative;
  display: block;
  padding: 4px 15px;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #555;
  cursor: default;
  background-color: #F4F4F5;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.sort-bar li.sortab.active > a,
.sort-bar #categories #category-dropdown:active{
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
}

.label-content{
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(58, 87, 149, 0.10) none repeat scroll 0% 0%;
  color: #6F6E6E;
  position: relative;
  display: block;
  bottom: 0px;
  top: 0px;
  vertical-align: bottom;
  line-height: 50px;
  margin: 0.7em 0em 1.15em;
  height: 2em;
  box-shadow: 0px 5px #6D84B4;
}

.post {
  margin-bottom:4%;
  padding: 0px;
  box-shadow: 0px 3px 10px 3px #7c8495;
}

.post .image-box{
  background: #344557;
}

.post .title{
  padding-top: 10px;
  padding-bottom: 5px;
  background:#3A5795;
  padding: 0% 3%;
  white-space: nowrap;
  font-size: 1.25em;
}

.post .title span{
    margin:0;
    color:#fff;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 1% 0 0.6%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
}
.post .box{
  margin-bottom: 0;
  padding: 1% 3% 3.5% 3%;
}

.post .info{
  font-size:0.85em;
  color:#8F8F98;
  margin: 1% 0 2%;
  font-family: "Open Sans";
  font-weight: 600;
}

.post .info .related{
  position: absolute;
  display: inline-block;
  right: 0px;
  padding-right: 3%;
  cursor:pointer;
}

.post .info .related:hover,
.post .info .related:focus,
.post .info .related:active{
  color:#3A5795;
}

.post .info .related{
  z-index: 150;
  color: #4e5154;
  text-decoration: none;
  font-size: 2.450em;
}

.post .info .related-box{
  z-index: 100;
  border-style: solid;
  border-color: transparent;
  border-width: 0px 1px 1px;
  /*background-color: #6b6d6f;*/
  background-color: #8a8f95;
  opacity: 0.95;
  position: absolute;
  margin-top: 12px;
  right: 3%;
  border-radius: 1.5px;
  /*padding: 1% 3% 1% 1.5%;*/
  box-shadow: 0px 2px 9px -1px #7C8495;
  color: #ececec;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:300;
  width: 60%;
  display:none;
}

.post .info .related-box a{
  color: #ececec;
  font-weight:300;
}

.post .info .related-box .title{
  padding: 1% 4%;
  background: #4E5154;
  font-weight: bold;
  font-size: 1.25em;
}
.post .info .related-box .list{
  margin: 0px;
  display: block;
  /*padding-left: 5px;*/
  width: 100%;
  white-space: nowrap;
  line-height: 20px;
  cursor: pointer;
}

.post .info .related-box .list .item:before{
    content:"• ";
}

.post .info .related-box .list .item{
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding: 1.25% 2.50%;
  font-size: 1.205em;
}
.post .info .related-box .list .item:hover{
    /*color:#28292a;*/
    background: #3A5795;
    font-weight:600;
}

.post .content,
.post .info .content{
  display:block;
}

.post .info .creator{
  color:#3A5795;
  line-height: 1em;
  cursor:pointer;
  display:inline-block;
}

.post .info .creator:hover{
  color: #545454;
}

.post .info .period{
  /*text-transform: capitalize;*/
  display: inline-block;
  padding-right: 1%;
}

.post .info .reading{
  display: inline-block;
  padding: 0 0.5%;
}

.post .info .edition{
  display: inline-block;
  padding: 0 0.5%;
  color: #a8b2c8;
}

.post .box .text {
  position: relative;
  height: 80px; /* exactly three lines */
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1%;
  margin: 0 0 3%;
  text-align: justify;
  font-weight: 100;
  font-size: 1em;
}

.post .box .text:after {
  content: "";
  text-align: justify;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #f7f7f7;
  background: linear-gradient(to bottom , transparent, #f7f7f7 85%);
}

.post .image{
  height: 250px;
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 350px;
  min-height: 200px;
  height: auto;
}

.post .read-more{
  /*color:#8F8F98;*/
  color:#3A5795;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.post .read-more:hover{
  /*color:#8F8F98;*/
  color: #3B5998;
  font-weight: 600;
}

.post .btn{
  font-size: 0.9em;
  padding: 2px 10px;
}

.post .btn-default{
  box-shadow: 0px 1px 4px #d3d7e1;
  background: #f9f9f9;
  color: #15213c;
}

.post hr{
  margin-bottom: 0px;
}

.post .visits{
  display: inline-block;
  float: right;
  font-size: 0.85em;
  color: #8F8F98;
  padding-top: 3px;
  font-weight: 700;
}

.post .social-bar{
  display:inline-block;
  width: 100%;
  background: #e0e9f0;
  background: #595959;
  background: #e0e0e0;;
  border-top: 1px solid #CCCCCC;
  cursor: pointer;
  vertical-align: bottom;
  /*box-shadow: 0px 5px 10px -2px #7c8495;*/
}

.post .social-bar .categories{
  float: left;
  text-align: left;
  padding: 1% 1%;
  width: 72%;
  cursor: default;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9em;
}

.post .social-bar .categories .category{
  display: inline-block;
  margin: 0 3px 5px;
  padding: 3px 5px;
  line-height: 1.5;
  border-radius: 3px;
  color: #494f57;
  /*background-color: rgba(255, 255, 255, 0.9);*/
  /*border: 1px solid rgba(204, 204, 204, 0.15);*/
  cursor:pointer;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.post .social-bar .categories .category:hover{
  font-weight: 600;
}

.post .social-bar .section-btn{
  /*background: rgb(160, 175, 206);*/
  /*background: rgba(168,182,211,0.70);*/
  float:right;
  display: table-row;
  width: 28%;
  text-align: right;
  padding: 1%;
  padding-right: 3%;
}

.post .social-bar like,
.post .social-bar share{
  width: 50px;
  display: inline-block;
}

.post .social-bar like .fb-loader,
.post .social-bar share .fb-loader{
  padding-top: 2px;
  padding-left: 0px;
  height: 22px;
  display: inline-block;
  position : absolute;
}

.post .social-bar .section-btn .btn img{
  height: 20px;
}


.post .social-bar .section-btn .stats{
  font-family: "Oxygen";
  font-size: 0.8em;
  font-weight: 100;
  display: inline-block;
  width: 20px;
  padding-top: 5px;
  color: #426CA6;
  vertical-align: middle;
  opacity: 0.8;

}

.post .social-bar .section-btn .btn{
  padding:0;
  position: relative;
  background: transparent;
  border: none;
  color: #6b6d6f;
  cursor:pointer;
  font-size: 0.8em;
  outline:none
}

.post .social-bar .section-btn .btn:hover{
  color: #426CA6;
  outline:none
}

/*.post .social-bar .section-btn like .btn:hover .fa-thumbs-o-up:before{
  content: "\f164";
  color: #426CA6;
  outline:none
}*/

.post .social-bar .section-btn like .on,
.post .social-bar .section-btn like .on .fa-thumbs-o-up:before,
.post .social-bar .section-btn like .btn:active .fa-thumbs-o-up:before{
  content: "\f164";
  color: #426CA6;
  outline:none
}

.post .social-bar .section-btn like .exist,
.post .social-bar .section-btn share .exist{
  color: #426CA6;
  outline: none;
}

.post .social-bar .section-btn share .btn{
  padding-top: 3px;
  outline:none
}

.post .social-bar .section-btn .btn-primary{
  /*background-image: -webkit-linear-gradient(top, #426CA6 0%, #3A5795 100%);
  background-image: -o-linear-gradient(top, #426CA6 0%, #3A5795 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#426CA6), to(#3A5795));
  background-image: linear-gradient(to bottom, #426CA6 0%, #3A5795 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3B5998;*/
  border-color: #E0E0E0;
  background: #ececec;
  color: #3B5998;
  outline:none
}

.post .social-bar .section-btn .btn-primary:active, .btn-primary.active {
    background-color: #3A5795;
    border-color: #4C6598;
    color: #ececec;
    outline:none
}

.post .social-bar .section-btn .btn-primary:active, .btn-primary.active:focus {
    background-color: #426CA6;
    border-color: #3A5795;
    outline:none
}

.pager{
  cursor: pointer;
}

.modal.in .modal-dialog{
  margin:0 auto;
  width: 80%;
}

.modal .modal-header .btn{
  float:right;
}


.modal .modal-header {
    padding: 5px 15px;
}

.modal .loader{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #344557;
}

.modal-title{
  overflow: hidden;
  height: auto;
  line-height: 20px;
  text-overflow: ellipsis;
  font-size: 1em;
  max-height: 40px;
}

.modal .source{
  width:100%;
  background: #3A5795;
  display: block;
  position: relative;
  color: #fff;
  font-size: 0.825em;
  padding: 0.5% 2%;
}

.modal .source .reading{
  display: inline-block;
  text-align: left;
}

.modal .source .external{
  display: inline-block;
  float: right;
  color: inherit;
  padding: 0.1% 1.7%;
}


.modal .source .external:hover,
.modal .source .external:focus,
.modal .source .external:active{
  font-weight: 700;
  background: #5070B3;
  padding:0% 2%;
  padding: 0.1% 1.5% 0.2%;
  text-decoration: none;
}

.modal .redirect{
  cursor:default;
  border:none;
}
.modal .redirect .message{
  background: #3A5795;
  color: #fff;
  font-size: 1.5em;
  color: #fff;
  font-size: 1.15em;
  font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 1%;
  text-align: center;
}
.modal .redirect .url{
  background: #344557;;
  text-align: center;
  padding-top: 2%;
  color: #fff;
  font-size: 1.15em;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 2% 5%;
}

.modal .modal-body {
  padding: 0px;
}

.modal .post , .modal .social-bar {
  box-shadow: none;
  background: #E0E0E02;
  margin: 0;
}

.modal .post .social-bar .section-btn{
  padding-right: 2%;
}

.modal .modal-footer{
  border-top: 0;
  background: #3A5795;
  padding: 0;
  cursor:default;

}

.modal .modal-footer .note{
  color: #6B6D6F;
  text-align: center;
  background: #ddd;
  font-size: 0.85em;
  padding: 0 10%;
}

.modal .modal-footer .btn{
  /*margin: 1.25% 1%;*/
  padding: 7.5px 15px;
  cursor: pointer;
  font-size: 1em;
}

.modal .modal-footer .btn.btn-danger{
  margin: 10px 1.95%;
}

.modal .modal-footer .redirect{
  cursor:default;
  color:#2a415a;
  padding:1%;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:1.1em;
  background:#fff;
}


@media screen and (max-width:768px) {
  p {
      font-size: 1.0em;
    }

    .sort-bar {
      height: 60px;
    }

    .sort-bar .sort-section {
        display: inline-block;
        text-align: left;
        float: right;
        width: 100%;
        margin: 0;
        background: #4C6598;
    }

    .sort-bar .sort-category {
      float: right;
    }

    .post .title{
      font-size: 1.15em;
    }

}

@media screen and (max-width:600px) {

  .post {
    font-size: 13px;
  }
  .post .title{
    font-size: 1em;
  }

  .modal-title{
    height: 30px;
    line-height: 15px;
    /*font-size: 12px;*/
  }
}
