body {
    font-family: Helvetica,Arial,sans-serif;
    background: url('/images/background/seamless_paper_texture.png') repeat fixed;
    font-size:14px;
    /*background: url('/images/background/polka-dot-2.png') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}
.wf-active body{
  font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.wf-active
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
  font-size: 1em;
  line-height: 1.4;
  color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

li[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 1% 2%;
    background: #fff;
    /*background: rgba(255,255,255,0.9);*/
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

.navbar {
    border-radius: 0px;
    /*border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;*/
    min-height: 35px;
    height: 35px;
}

.navbar-default .navbar-brand {
    color: #AFBDD4;
}

.navbar-default{
    background-color: #3B5998;
    border:0;
    background-image: none;
}

.navbar-brand{
  padding: 5px 10px;
  height: auto;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #D8DFEA;
    background-color: transparent;
}


.auth-cont{
  width: 100%;
  display:table;
  padding:0.7%;
  margin:0.5%;
}

.auth-cont .sociallogin-btn{
  width: 165px;
  height: 40px;
  float:none;
  display:table-cell;
  text-decoration: none;
  background: #3B5998;
}

.auth-cont .sociallogin-btn:hover{
  background: #6D84B4;
}

.full-screen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.zIndex-10--loadingPage {
  z-index: 1000;
}

.loading{
  width: 100%;
  text-align: center;
  background: #344557;
  /*margin-top: -20px;*/
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index: 1000;

}


.fade-out {
  transition: 3.0s linear all;
  opacity: 0;
}

.fade-in-out {
  transition: 3.5s linear all;
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}

.container{
  margin: 2% auto;
}

.animate-repeat {
  /*line-height:30px;*/
  /*list-style:none;*/
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  /*max-height:0;*/
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  /*max-height:30px;*/
}

.animate-enter,
.animate-leave
{
    -webkit-transition: 875ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 875ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 875ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 875ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 875ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}

.sort-bar{
  /*background:white;*/
  display:block;
  width: 100%;
  height: 30px;
  background: #6D84B4;
  font-size: 0.8em;
}

.sort-bar .sort-item{
  display: inline-block;
}

.sort-bar .sort-item.tab{
  padding: 6px 2%;
  background: #4C6598;
  color: #fff;
  cursor: pointer;
  height: 30px;
}

.sort-bar .sort-item.tab.active{
  background: #3A5795;
  font-weight: bolder;
}

.sort-bar .sort-section{
  display: inline-block;
  text-align: right;
  float: right;
  width: 70%;
  margin: 0 0.3%;
}

.sort-bar .sort-search {
  margin: 0.5% 0 1%;
  display: inline-block;
}

.sort-bar .sort-category{
  display: inline-block;
}


.sort-bar .sort-category .ui-select-container{
  min-width: 200px;
  text-align: left;
}

.sort-bar .sort-search .form-control{
    display: inline;
    width: auto;
    height: 22px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    font-size: 1em;
    padding: 2px 10px;
}

.sort-bar .sort-search .field{
    padding:0 7px;
    color:#fff;
    font-weight: bolder;
}
.sort-bar #categories{
  float:right;
}

.sort-bar .select2-container .select2-choice{
  height: 22px;
  line-height: 20px;
}

.sort-bar li.sort-tab > a ,
.sort-bar #categories #category-dropdown {
  background:white;
  position: relative;
  display: block;
  padding: 4px 15px;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #555;
  cursor: default;
  background-color: #F4F4F5;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.sort-bar li.sortab.active > a,
.sort-bar #categories #category-dropdown:active{
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
}

.post {
  margin-bottom:2%;
  padding: 0px;
}

.post .image-box{
  background: #344557;
}
.post .title{
  padding-top: 10px;
  padding-bottom: 5px;
  background:#3A5795;
  padding: 0% 3%;
  white-space: nowrap;
}

.post .title h3{
    margin:0;
    color:#fff;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.5em;
    padding: 1% 0 0.6%;
}

.post .box{
  margin-bottom: 0;
  padding: 1% 3% 3.5% 3%;
}

.post .info{
  font-size:0.75em;
  color:#8F8F98;
  margin: 1% 0 2%;
  font-family: "Open Sans";
  font-weight: 600;
}

.post .info .creator{
  color:#3A5795;
  line-height: 1em;
  cursor:pointer;
}

.post .info .creator:hover{
  color: #545454;
}

.post .info .period{
  /*text-transform: capitalize;*/
  display: inline-block;
  padding-right: 1%;
}

.post .info .reading{
  display: inline-block;
  padding: 0 0.5%;
}

.post .info .edition{
  display: inline-block;
  padding: 0 0.5%;
  color: #a8b2c8;
}

.post .info .visits{
  display: inline-block;
  float: right;
}

.post .box .text {
  position: relative;
  height: 80px; /* exactly three lines */
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1%;
  margin: 0 0 3%;
  text-align: justify;
  font-weight: 100;
  font-size: 0.96em;
}

.post .box .text:after {
  content: "";
  text-align: justify;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  background: linear-gradient(to bottom , rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 85%);
}

.post .image{
  height: 250px;
  width: 100%;
  display: block;
  height: 50vh;
  object-fit: cover;
}

.post .read-more{
  /*color:#8F8F98;*/
  color:#3A5795;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.post .read-more:hover{
  /*color:#8F8F98;*/
  color: #3B5998;
  font-weight: 600;
}

.post .btn{
  font-size: 0.9em;
  padding: 2px 10px;
}

.post .btn-default{
  box-shadow: 0px 1px 4px #d3d7e1;
  background: #f9f9f9;
  color: #15213c;
}

.post hr{
  margin-bottom: 0px;
}

.post .social-bar{
  display:inline-block;
  width: 100%;
  background: #e0e9f0;
  background: #595959;
  background: #e0e0e0;;
  border-top: 1px solid #CCCCCC;
  cursor: pointer;
  box-shadow: 0px 5px 10px -2px #7c8495;
}

.post .social-bar .categories{
  float: left;
  text-align: left;
  padding: 1% 1%;
  width: 72%;
  cursor: default;
}

.post .social-bar .categories .category{
  display: inline-block;
  margin: 0 3px 5px;
  padding: 3px 5px;
  line-height: 1.5;
  border-radius: 3px;
  color: #494f57;
  /*background-color: rgba(255, 255, 255, 0.9);*/
  /*border: 1px solid rgba(204, 204, 204, 0.15);*/
  font-weight: 400;
  font-style: italic;
  font-size: 0.8em;
  font-family: "Open Sans";
  cursor:pointer;
}

.post .social-bar .categories .category:hover{
  font-weight: 600;
}

.post .social-bar .section-btn{
  /*background: rgb(160, 175, 206);*/
  /*background: rgba(168,182,211,0.70);*/
  float:right;
  display: table-row;
  width: 28%;
  text-align: right;
  padding: 1%;
  padding-right: 3%;
}

.post .social-bar like,
.post .social-bar share{
  width: 50px;
  display: inline-block;
}

.post .social-bar .section-btn .btn img{
  height: 20px;
}


.post .social-bar .section-btn .stats{
  font-family: "Oxygen";
  font-size: 0.8em;
  font-weight: 100;
  display: inline-block;
  width: 20px;
  padding-top: 5px;
  color: #426CA6;
  vertical-align: middle;
  opacity: 0.8;

}

.post .social-bar .section-btn .btn{
  padding:0;
  position: relative;
  background: transparent;
  border: none;
  color: #6b6d6f;
  cursor:pointer;
  font-size: 0.8em;
  outline:none
}

.post .social-bar .section-btn .btn:hover{
  color: #426CA6;
  outline:none
}

/*.post .social-bar .section-btn like .btn:hover .fa-thumbs-o-up:before{
  content: "\f164";
  color: #426CA6;
  outline:none
}*/

.post .social-bar .section-btn like .on,
.post .social-bar .section-btn like .on .fa-thumbs-o-up:before,
.post .social-bar .section-btn like .btn:active .fa-thumbs-o-up:before{
  content: "\f164";
  color: #426CA6;
  outline:none
}

.post .social-bar .section-btn like .exist,
.post .social-bar .section-btn share .exist{
  color: #426CA6;
  outline: none;
}

.post .social-bar .section-btn share .btn{
  padding-top: 3px;
  outline:none
}

.post .social-bar .section-btn .btn-primary{
  /*background-image: -webkit-linear-gradient(top, #426CA6 0%, #3A5795 100%);
  background-image: -o-linear-gradient(top, #426CA6 0%, #3A5795 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#426CA6), to(#3A5795));
  background-image: linear-gradient(to bottom, #426CA6 0%, #3A5795 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3B5998;*/
  border-color: #E0E0E0;
  background: #ececec;
  color: #3B5998;
  outline:none
}

.post .social-bar .section-btn .btn-primary:active, .btn-primary.active {
    background-color: #3A5795;
    border-color: #4C6598;
    color: #ececec;
    outline:none
}

.post .social-bar .section-btn .btn-primary:active, .btn-primary.active:focus {
    background-color: #426CA6;
    border-color: #3A5795;
    outline:none
}

.pager{
  cursor: pointer;
}

.modal.in .modal-dialog{
  /*width: 80%;*/
}

.modal .modal-header .btn{
  float:right;
}

.modal .modal-header {
    padding: 5px 15px;
}

.modal .source{
  width:100%;
  background: #3A5795;
  display: block;
  position: relative;
  color: #fff;
  font-size: 1em;
  padding: 0.5% 2%;
}

.modal .source .reading{
  display: inline-block;
  text-align: left;
}

.modal .source .external{
  display: inline-block;
  float: right;
  color: inherit;
  padding: 0.1% 1.7%;
}


.modal .source .external:hover,
.modal .source .external:focus,
.modal .source .external:active{
  font-weight: 700;
  background: #5070B3;
  padding:0% 2%;
  padding: 0.1% 1.5% 0.2%;
  text-decoration: none;
}

.modal .redirect{
  cursor:default;
  border:none;
}
.modal .redirect .message{
  background: #3A5795;
  color: #fff;
  font-size: 1.5em;
  color: #fff;
  font-size: 1.15em;
  font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 1%;
  text-align: center;
}
.modal .redirect .url{
  background: #344557;;
  text-align: center;
  padding-top: 2%;
  color: #fff;
  font-size: 1.15em;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 2% 5%;
}

.modal .modal-body {
  padding: 0px;
}

.modal .post , .modal .social-bar {
  box-shadow: none;
  background: #E0E0E02;
  margin: 0;
}

.modal .post .social-bar .section-btn{
  padding-right: 2%;
}

.modal .modal-footer{
  border-top: 0;
  background: #3A5795;
  padding: 0;
  cursor:default;

}

.modal .modal-footer .btn{
  margin: 0% 1% 0.8%;
  padding: 0.5% 1.5%;
  cursor:pointer;
}

.modal .modal-footer .redirect{
  cursor:default;
  color:#2a415a;
  padding:1%;
  font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:1.1em;
  background:#fff;
}

@media screen and (max-width:768px) {
  p {
      font-size: 1.0em;
    }

    .sort-bar .sort-section {
        display: inline-block;
        text-align: left;
        float: right;
        width: 100%;
        margin: 0;
        background: #4C6598;
    }

    .post .image{
      height: 100px;
    }

}

.select2-results {
    max-height: 110px !important;
}
