<div class="container ng-cloak content-list"  ng-init="$rlist.init()" ng-hide="$rlist.return">
  <div class="col-sm-12">
      <div id="floating-button-back" >
        <p class="iplus" ng-click="$rlist.back()" ><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
      </div>
    <legend>Lista de Contenidos</legend>
    <div id="alert-create" class="alert alert-sm alert-success fade-in"
      dismiss-on-timeout="2000"
      ng-show="$rlist.delete.status">
      Eliminado con <strong>éxito!</strong></br>
      <b>Contenido:</b>
      <p><i>{{::$rlist.delete.content.title}}</i></p>
    </div>
    <div class="">
    <table st-table="displayList" st-safe-src="$rlist.contentList" class="table table-striped">
    	<thead>
        <tr>
          <th colspan="9"><input st-search="" class="form-control input-sm" placeholder="Búsqueda global..." type="text"/></th>
          </br>
        </tr>
      <tr>
        <th>#</th>
        <th>Título</th>
        <th>Fecha</th>
        <th><i class="fa fa-thumbs-up" aria-hidden="true">*</i></th>
        <th><i class="fa fa-share-square-o" aria-hidden="true">*</i></th>
        <th><i class="fa fa-eye" aria-hidden="true">*</i></th>
        <th>Estado</th>
    	</tr>
    	</thead>
    	<tbody>
    	<tr ng-repeat="content in displayList track by $index">
    		<td>{{::$index+1}}</td>
    		<td>{{::content.title}}</td>
    		<td>{{::content.date | date}}</td>
    		<td>{{::content.likes}}</td>
    		<td>{{::content.shares}}</td>
    		<td>{{::content.visits}}</td>
    		<td class="state">{{::content.state}}</td>
        <td>
          <button type="button" ng-click="$rlist.editContent(content.id)" class="btn btn-sm btn-td btn-default">
            <i class="glyphicon glyphicon-edit">
            </i>
          </button>
        </td>
        <td>
        <button type="button" ng-click="$rlist.removeContent(content)" class="btn btn-sm btn-td btn-danger">
				<i class="glyphicon glyphicon-remove-circle">
				</i>
			</button>
      </td>
    	</tr>
    	</tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="3"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- <div>
    <div class="table-container">
      <table st-table="$rlist.rowCollection" st-pagination-scroll  st-pipe="$rlist.callServer" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="firstName">first name</th>
		<th st-sort="lastName">last name</th>
		<th st-sort="birthDate">birth date</th>
		<th st-sort="balance">balance</th>
		<th>email</th>
	</tr>
	<tr>
		<th>
			<input st-search="firstName" placeholder="search for firstname" class="input-sm form-control" type="search"/>
		</th>
		<th colspan="4">
			<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in $rlist.rowCollection">
		<td>{{row.firstName | uppercase}}</td>
		<td>{{row.lastName}}</td>
		<td>{{row.birthDate | date}}</td>
		<td>{{row.balance | currency}}</td>
		<td><a ng-href="mailto:{{row.email}}">email</a></td>
	</tr>
	</tbody>
</table>
</div>
<div ng-show="isLoading" class="loading-indicator"></div>
  </div>
 -->

  </div>
</div>
