<style>
  body{
      background:#fff;
  }
  .header{
  background: url('/images/light.png') no-repeat #4D90FE;
  max-width: 100%;
  background-position: center center;
  background-size: contain;
  width: 100%;
  height: 330px;
  }
</style>
<div class="container-fluid home">
    <div class="col-xs-12 row-centered fade-in-out">
      <h2>Bienvenido a Sigma</h2>
      <div>El lugar donde puedes aprender y compartir información.</div>
      <div class="login">
        <a class="btn btn-default" href="/auth/facebook">Inicio de Sesión</a>
      </div>
    </div>
</div>
