<div class="container" class='ng-cloak' ng-hide="$rcontent.return" ng-show="$rcontent.ready">
  <div class="col-sm-12">
      <div id="floating-button-back" >
        <p class="iplus" ng-click="$rcontent.back()" ><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
    </div>

    <legend id="heading">Registro de Contenidos</legend>
    <div class="lbl-list-content"><a ng-href="#/registry/list">Lista de contenidos creados</a></div>
    <div id="alert-create" class="alert alert-sm alert-success fade-in"
      dismiss-on-timeout="2000"
      ng-if="$rcontent.contentCreated">
      Almacenado con  <strong>éxito!</strong>
    </div>

    <div id="alert-create" class="alert alert-sm alert-success fade-in"
      dismiss-on-timeout="2000"
      ng-if="$rcontent.contentUpdated">
      Actualizado con  <strong>éxito!</strong>
    </div>

    <div id="alert-create" class="alert alert-sm alert-danger fade-in"
      dismiss-on-timeout="2000"
      ng-if="$rcontent.contentInvalid">
      <span class="close" data-dismiss="alert">&times;</span>
      Revise los <strong>párametros!</strong>
    </div>

    <form name="$rcontent.contentForm" ng-init="$rcontent.initContent()" role="form" id="contentForm" novalidate>
       <div class="form-group">
      <label for="title">Título *</label><br />
      <input name="title" class="form-control" type="text" ng-model="$rcontent.content.title" ng-model-options="{ updateOn: 'blur' }" required />
      <span class="notf notf-alert">
        <i ng-if="$rcontent.contentForm.title.$error.required">Es un párametro requerido</i>
      </span>
      <br />
    </div>
     <div class="form-group" id="url">
      <label for="url">URL de dirección web *</label><br />
      <input name="url" class="form-control" type="url"
        ng-model="$rcontent.content.url"
        ng-model-options="{ updateOn: 'blur' }"
        ng-change="$rcontent.updateUrl()"
        required />
      <span class="notf notf-alert">
        <i ng-if="$rcontent.contentForm.url.$error.required">Es un párametro requerido</i></br>
        <i ng-if="$rcontent.contentForm.$submitted && $rcontent.contentForm.url.$error.unique">La dirección web ya existe</i>
      </span>
      <br />
    </div>
    <div class="form-group">
      <label for="image">Recurso de image *</label><br />
      <div id="image" rimage-add ng-model="$rcontent.content.image" ng-cloak></div>
      <!-- <pre>{{$rcontent.content.image | json}}</pre> -->
      <!-- <pre>{{$rcontent.contentForm.image | json}}</pre> -->
      <span class="notf notf-alert">
        <i ng-if="$rcontent.contentForm.image.$error.required">Es un párametro requerido</i><br/>
        <i ng-if="$rcontent.contentForm.image.$error.maxSize">Es un recurso muy grande
            {{errorFile.size / 1000000|number:1}}MB: max 3M</i><br/>
      </span>
      <br />
    </div>
       <div class="form-group">
      <label for="description">Descripción *</label><br />
      <textarea name="description" class="form-control vresize" ng-model="$rcontent.content.description" ng-model-options="{ updateOn: 'blur' }" required ></textarea>
      <span class="notf notf-alert" ng-if="$rcontent.contentForm.$dirty && $rcontent.contentForm.$invalid">
        <i ng-show="$rcontent.contentForm.description.$error.required">Es un párametro requerido</i>
      </span>
      <br />
      </div>
       <div class="form-group">
      <label for="categories"> Categoría: *</label><br>

        <ui-select name="categories" tagging tagging-label=" ['Nueva' categoría]"
        multiple limit="4"
        ng-init="$rcontent.loadCategories()"
        ng-model="$rcontent.content.categories"
        theme="bootstrap" sortable="true" style="width: 100%;" ui-select-required>
        <ui-select-match placeholder="Seleccione las categorías del contenido. Límite: 4">{{$item}}</ui-select-match>
        <ui-select-choices repeat="category in $rcontent.categories | filter:$select.search">
        {{::category}}
        </ui-select-choices>
        </ui-select>
        <span class="notf notf-alert" ng-show="$rcontent.contentForm.$dirty && $rcontent.contentForm.$invalid">
          <i ng-show="$rcontent.contentForm.categories.$error.required">Es un párametro requerido</i>
        </span>
      </div>
      <br /><br />
      <input type="button" ng-click="$rcontent.reset()" value="Limpiar" />
      <input type="submit" ng-click="$rcontent.save()" value="Guardar" />
    </form>
  </div>
</div>
