<div class="container" class='ng-cloak' ng-hide="$rcontent.return">
  <div class="col-sm-12">
      <div id="floating-button-back" >
        <p class="iplus" ng-click="$rcontent.back()" ><i class="fa fa-angle-double-left" aria-hidden="true"></i></p>
    </div>


    <legend>Registro de Contenidos</legend>
    <form name="$rcontent.contentForm" novalidate role="form">
       <div class="form-group">
      <label for="title">Título</label><br />
      <input name="title" class="form-control" type="text" ng-model="$rcontent.content.title" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
    </div>
     <div class="form-group">
      <label for="url">URL de dirección web</label><br />
      <input name="url" class="form-control" type="url" ng-model="$rcontent.content.url" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
    </div>
       <div class="form-group">
      <label for="image">URL de Imagen</label><br />
      <input name="image" class="form-control" type="text" ng-model="$rcontent.content.image" ng-model-options="{ updateOn: 'blur' }" required />
      <br />
      </div>
       <div class="form-group">
      <label for="description">Descripción</label><br />
      <textarea name="description" class="form-control" ng-model="$rcontent.content.description" ng-model-options="{ updateOn: 'blur' }" required ></textarea>
      <br />
      </div>
       <div class="form-group">
      <label for="selectCategories"> Categoría: </label><br>
      <ui-select multiple limit="3" tagging name="selectCategories" ng-model="$rcontent.content.categories" theme="select2" ng-disabled="disabled"  style="width: 100%;">
      <ui-select-match placeholder="Seleccione las categorías">{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="category.id as category in $rcontent.categories | orderBy:'name' | filter:$select.search">
        {{category.name}}
      </ui-select-choices>
  </ui-select>
      <!-- <p>Selected: {{$rcontent.content.categories}}</p> -->
      <!-- <select name="multipleSelect" id="multipleSelect" ng-model="$rcontent.content.categories" multiple>
        <option ng-repeat="category in $rcontent.categories" value="{{category.id}}">{{category.name}}</option>
      </select><br> -->
      </div>
      <br /><br />
      <input type="button" ng-click="$rcontent.reset()" value="Limpiar" />
      <input type="submit" ng-click="$rcontent.save()" value="Guardar" />
    </form>
    <!-- <pre>content = {{$rcontent.content | json}}</pre> -->
  </div>
</div>
