<script>
// Only works after `FB.init` is called
function myFacebookLogin() {
FB.login(function(){
  // Note: The call will only work if you accept the permission request
  FB.api('/me/feed', 'post', {message: 'Hello, world!'});
}, {scope: 'publish_actions'});
};
function testShare(){
  FB.ui(
 {
  method: 'share',
  href: 'https://developers.facebook.com/docs/'
}, function(response){});
}
function getOpenGraphObject(article){

        var articleObj= {
                'og:url': article.url,
                'og:title': article.title,
                'og:type': 'master-sigma:articulo',
                'og:image': article.image ,
                'og:description': article.description,
                'master-sigma:description': article.description,
              };
        console.log(articleObj);
        return articleObj;
}
function testShareGraphRecomienda(){
var article ={
  url:'http://www.genbeta.com/seguridad/un-hospital-paga-mas-de-15-000-euros-en-bitcoins-para-recuperar-su-sistema-secuestrado',
  title:'Un hospital paga más de 15.000 euros en bitcoins para recuperar su sistema "secuestrado"',
  image:'http://i.blogs.es/3ed030/hosp/1366_2000.jpg',
  description:'Esta semana se ha sabido que a principios de febrero, el Centro Médico Presbiteriano de Hollywood sufrió un ataque , que dejó su sistema informático inservible.'
};

  console.log(article);
FB.ui({
  method: 'share_open_graph',
  action_type: 'master-sigma:recomienda',
  action_properties: JSON.stringify({
    'uid': 'z123',
    'articulo': getOpenGraphObject(article)
  })
}, function(response){
  // Debug response (optional)
  console.log(response);
});
}
function testShareGraphLike(){
FB.ui({
  method: 'share_open_graph',
  action_type: 'og.likes',
  action_properties: JSON.stringify({
    object:'http://www.genbeta.com/seguridad/un-hospital-paga-mas-de-15-000-euros-en-bitcoins-para-recuperar-su-sistema-secuestrado',
  })
}, function(response){
  // Debug response (optional)
  console.log(response);
});
}
function testJS(){
  console.log("Hello JS");
}
</script>


    <div class="container">
        <div class="col-lg-12 text-center">
          <button onclick="myFacebookLogin()">Login with Facebook</button>
          <button onclick="testShare()">Share with Facebook</button>
          <button onclick="testShareGraphLike()">Share Graph Like with Facebook</button>
          <button onclick="testShareGraphRecomienda()">Share Graph Recomienda with Facebook</button>
          </div>
          <button onclick="testJS()">Test JS</button>
        </div>
        <div class="row">

                <div class="col-lg-12 text-center post">
                    <img class="img-responsive img-full" src="/images/submarine.png" alt="">
                    <div class="title"><h3>Título de Post</h3></div>
                    <div class="box">
                    <h5>October 13, 2013</h5>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Leer más</a>
                    </div>
                    <div class="social-bar">
                          <div class="section-btn">
                            <a class="btn"><img src="/icons/thumb.png" /></a>
                          <a href="#" class="btn btn-lg"><img src="/icons/share.png" /></a>
                          </div>

                    </div>
                </div>

                <div class="col-lg-12 text-center post">
                    <img class="img-responsive img-full" src="/images/submarine.png" alt="">
                    <div class="title"><h3>Título de Post</h3></div>
                    <div class="box">
                    <h5>October 13, 2013</h5>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Leer más</a>
                    </div>
                    <div class="social-bar">
                          <div class="section-btn">
                            <a class="btn"><img src="/icons/thumb.png" /></a>
                          <a href="#" class="btn btn-lg"><img src="/icons/share.png" /></a>
                          </div>

                    </div>
                </div>

                <div class="col-lg-12 text-center post">
                    <img class="img-responsive img-full" src="/images/submarine.png" alt="">
                    <div class="title"><h3>Título de Post</h3></div>
                    <div class="box">
                    <h5>October 13, 2013</h5>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Leer más</a>
                    </div>
                    <div class="social-bar">
                          <div class="section-btn">
                            <a class="btn"><img src="/icons/thumb.png" /></a>
                          <a href="#" class="btn btn-lg"><img src="/icons/share.png" /></a>
                          </div>

                    </div>
                </div>

                <div class="col-lg-12 text-center post">
                    <img class="img-responsive img-full" src="images/submarine.png" alt="">
                    <div class="title"><h3>Título de Post</h3></div>
                    <div class="box">
                    <h5>October 13, 2013</h5>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Leer más</a>
                    </div>
                    <div class="social-bar">
                          <div class="section-btn">
                            <a class="btn"><img src="/icons/thumb.png" /></a>
                          <a href="#" class="btn btn-lg"><img src="/icons/share.png" /></a>
                          </div>

                    </div>
                </div>

                <div class="col-lg-12 text-center post">
                    <img class="img-responsive img-full" src="/images/submarine.png" alt="">
                    <div class="title"><h3>Título de Post</h3></div>
                    <div class="box">
                    <h5>October 13, 2013</h5>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Leer más</a>
                    </div>
                    <div class="social-bar">
                          <div class="section-btn">
                            <a class="btn"><img src="/icons/thumb.png" /></a>
                          <a href="#" class="btn btn-lg"><img src="/icons/share.png" /></a>
                          </div>

                    </div>
                </div>

                <div class="col-lg-12 text-center post">
                    <img class="img-responsive img-full" src="/images/submarine.png" alt="">
                    <div class="title"><h3>Título de Post</h3></div>
                    <div class="box">
                    <h5>October 13, 2013</h5>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Leer más</a>
                    </div>
                    <div class="social-bar">
                          <div class="section-btn">
                            <a class="btn"><img src="/icons/thumb.png" /></a>
                          <a href="#" class="btn btn-lg"><img src="/icons/share.png" /></a>
                          </div>

                    </div>
                </div>




                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>

        </div>

    </div>
    <!-- /.container -->
